.first_font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.second_font {
  font-family: "Rubick", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.third_font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}